*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(244, 244, 244);
}

nav{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgb(100, 100, 100);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding-bottom: 2px;
}

nav a img {
    width: 10rem;
    vertical-align: middle;
    padding: 0;
}

nav .active{
    border-bottom: 2px solid;
}

nav .search{
    width: 35%;
    height: 50%;
    border: 1px solid;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

nav .search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0.6em 0.6em;
    background-color: rgb(239, 243, 244);
}

nav .search button{
    width: 8%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 1.4em;
    color: rgb(90, 90, 90);
}

nav .cartIcon{
    position: relative;
    padding: 0.2rem 0.5rem;
}

nav .cartIcon span{
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .profileIcon{
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    font-size: 1.4em;
    cursor: pointer;
    font-weight: bold;
}

.home{
    width: 100%;
    height: 90vh;
    position: relative;
}

.home .welcome{
    width: 45%;
    height: 40%;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 10%;
    top: 20%;
}

.welcome button{
    width: 30%;
    padding: 0.6rem;
    border-radius: 0.4rem;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid rgb(97, 141, 172);
    color: rgb(32, 91, 133);
    cursor: pointer;
    outline: none;

}

.productsCon, .productContainer{
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
}

.productsCon .products{
    width: 90%;
    height: fit-content;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 5rem;
}

.productsCon .products .card{
    width: 22%;
    height: 27rem;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.2rem 0.6rem;
    cursor: pointer;
    background-color: white;
}

.productsCon .products .card .imgDiv{
    width: 100%;
    height: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.products .card .imgDiv img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.products .card .contentDiv{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid; */
}

.products .card .contentDiv h6{
    font-size: 1rem;
}

.products .card .contentDiv .price{
    font-weight: bold;
    font-size: 1.3rem;
}

.productsCon .products .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.productContainer .productCard{
    width: 90%;
    margin: 2rem auto;
    height: 80vh;
    overflow: hidden;
    display: flex;
    background-color: white;
}

.productContainer .productCard .left{
    height: 70%;
    width: 35%;
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.productContainer .productCard .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}



.cartComp{
    width: 100%;
    overflow: hidden;
}

.cartComp .cartCon{
    width: 92%;
    margin: 3rem auto;
    height: fit-content;
    min-height: 60rem;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.cartComp .cartCon .cartItems{
    width: 72%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* border: 2px solid; */
    /* gap: 2rem; */
    border-radius: 5px;
}

.cartComp .cartCon .carttotal{
    width: 25%;
    height: 20rem;
    background-color: white;
    border-radius: 5px;
}

.cartComp .cartCon .cartItems .card{
    width: 100%;
    height: 14em;
    display: flex;
    /* border: 2px solid red; */
    padding: 1.5rem 0.5rem;
    justify-content: space-between;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.cartCon .cartItems .card .cardleft{
    width: 20%;
    /* border: 2px solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cartItems .card .cardleft .imgDiv {
    /* border: 2px solid green; */
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.cartItems .card .cardleft .imgDiv img{
    width: 80%;
    /* object-fit: cover; */
    /* object-position: center; */
}

.cartItems .card .cardleft .quantity{
    display: flex;
    width: 70%;
    height: 20%;
    /* border:  2px solid yellow; */
    justify-content: space-evenly;
    align-items: center;
}

.cartItems .card .cardleft .quantity button{
    width: 1.8rem;
    height: 1.8rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    outline: 0;
    border: 1px solid rgb(150, 150, 150);
}

.cardleft .quantity button i{
    text-align: center;
    vertical-align: middle;
}

.cardleft .quantity p{
    height: 1.8rem;
    width: 3rem;
    text-align: center;
    align-content: center;
    border-radius: 2px;
    border: 1px solid rgb(150, 150, 150);
}

.cartItems .card .cardright{
    width: 77%;
    /* border: 2px solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cartItems .card .cardright .title{
    font-size: 1.2rem;
    font-weight: 450;
}

.cartItems .card .cardright .price{
    font-size: 1.4rem;
    font-weight: 600;
}

.cartItems .card .cardright button{
    width: 0%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.cartItems .card .cardright button:hover{
    color: #007bff;
}